In [1]:
import numpy as np
import pandas as pd

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("fredericobreno/play-tennis")

print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/fredericobreno/play-tennis?dataset_version_number=1...

100%|█████████████████████████████████████████████████████████████████████████████████████████| 337/337 [00:00<?, ?B/s]

Extracting files...
Path to dataset files: C:\Users\itsam\.cache\kagglehub\datasets\fredericobreno\play-tennis\versions\1

In [3]:
data = pd.read_csv('play_tennis.csv')

In [4]:
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [5]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [6]:
py=9/14
pn=5/14

In [7]:
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [10]:
#outlook data

pd.crosstab(data['outlook'], data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [11]:
Pon = 0 
Prn = 2/5
Psn = 3/5

Poy = 4/9
Prn = 3/9
Psy = 2/9

In [12]:
#outlook data for temp

pd.crosstab(data['temp'], data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [13]:
Pcoolno = 1/5
Photno = 2/5
Pmildno = 2/5

Pcoolyes = 2/5
Photyes = 2/9
Pmildyes = 4/9

In [14]:
#outlook humidity

pd.crosstab(data['humidity'], data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [15]:
Phighno = 4/5
Pnormalno = 1/5

Phighyes = 3/9
Pnormalno = 6/9

In [16]:
#outlook data

pd.crosstab(data['wind'], data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [17]:
Pstrongno = 3/5
Pweakno = 2/5

Pstrongyes = 3/9
Pweakyes = 6/9

In [18]:
# outlook = sunny , temp= hot , humidity = high , wind = weak

Pyes = py*Psy*Photyes*Phighyes*Pweakyes
print(Pyes)

0.007054673721340388

In [20]:
Pno = pn*Psn*Photno*Phighno*Pweakno

In [21]:
print(Pno)

0.02742857142857143