In [27]:
import numpy as np
import pandas as pd

In [28]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [29]:
df = pd.read_csv('covid_toy.csv')

In [30]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [31]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [32]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [33]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [42]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(df.iloc[:,0:5] , 
                                                       df.iloc[:,-1],
                                                       test_size = 0.2)

In [43]:
X_train

    age  gender  fever   cough       city
29   34  Female    NaN  Strong     Mumbai
93   27    Male  100.0    Mild    Kolkata
64   42    Male  104.0    Mild     Mumbai
52   47  Female  100.0  Strong  Bangalore
89   46    Male  103.0  Strong  Bangalore
..  ...     ...    ...     ...        ...
51   11  Female  100.0  Strong    Kolkata
67   65    Male   99.0    Mild  Bangalore
69   73  Female  103.0    Mild      Delhi
55   81  Female  101.0    Mild     Mumbai
44   20    Male  102.0  Strong      Delhi

[80 rows x 5 columns]

AAM ZINDAGI

In [63]:
#adding simple imputer to  fever col (to fill the values)
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

#also the test data 
X_test_fever = si.fit_transform(X_test[['fever']])

X_train_fever.shape

(80, 1)

In [64]:
#ordinal encoding -> cough
oe = OrdinalEncoder(categories = [['Mild' , 'Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

#also on the test data
X_test_cough = oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [65]:
print(X_train.columns)

Index(['age', 'gender', 'fever', 'cough', 'city'], dtype='object')

In [66]:

# OneHotEncoding -> gender,city
ohe = OneHotEncoder(drop='first',sparse_output=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# also the test data
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

X_train_gender_city.shape

(80, 4)

In [67]:
#Extracting age
X_train_age = X_train.drop(columns=['gender','fever', 'cough','city']).values
X_test_age = X_test.drop(columns=['gender','fever', 'cough','city']).values
X_train_age.shape

(80, 1)

In [69]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)

X_train_transformed.shape

(80, 7)

MENTOS ZINGADI

In [70]:
from sklearn.compose import ColumnTransformer

In [84]:
transfomer = ColumnTransformer(transformers=[
    ('tnf1' , SimpleImputer(),['fever']),
    ('tnf2' ,OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3', OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
     ],remainder='passthrough')

In [87]:
transfomer.fit_transform(X_train).shape

(80, 7)

In [89]:
transfomer.transform(X_test).shape

(20, 7)